

h1{
	font-size: 48px;
	color: rgb(47, 100, 236);
	

}
body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	font-weight: bold;
}

#list {
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	margin-bottom: 20px;
	font-style: italic;
	
	
	
}

#user-input {
	width: 81.4%;
	padding: 10px;
	font-size: 18px;
	border: 1px solid #ccc;
}

#send-button {
	width: 15%;
	padding: 10px;
	font-size: 18px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	cursor: pointer;
}

.question>li{
	margin-left: auto;
	background-color: rgb(47, 100, 236);
	border-radius: 10px 0px 5px 0px;
	width: 23%;
	list-style: none;
	text-align:center;
}

.answer>li{
	margin-right: auto;
	width: 100%;
	list-style: none;
	background-color: #4CAF50;
	border-radius: 10px 0px 5px 0px;
	height: 100%;
	width: 100%;	
	
}


.container{
	width: 50%;
}

